{extend name="common/base" /}
{block name="head"}
<title>属性管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
	<span class="c-gray en">&gt;</span>
	产品管理
	<span class="c-gray en">&gt;</span>
	属性管理
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
		<a class="btn btn-primary radius" onclick="system_category_add('添加资讯','{:url(\'Attributes/add\')}')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加商品属性</a>
		</span>
	</div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-hover table-bg table-sort">
			<thead>
				<tr class="text-c">
					<th width="25"></th>
					<th width="120">ID</th>
					<th >商品属性名称</th>
					<th width="150">操作</th>
				</tr>
			</thead>
			<tbody>
				{volist name="result" id="v"}
				<tr class="text-c">
					<td></td>
					<td>{$v.id}</td>
					<td align="center">{$v.name}</td>
					<td class="td-manage">
					<a title="编辑"  onclick="system_category_edit('商品属性编辑','{:url('Attributes/edit','id='.$v.id)}','1','700','480')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> <a title="删除" href="javascript:;" onclick="system_category_del({$v.id})" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
				</tr>
				{/volist}
			</tbody>
		</table>
	</div>
</div>
{/block}
{block name="footer"}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/__ADMIN__lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/__ADMIN__lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__STATIC__/__ADMIN__lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
/*系统-菜单-添加*/
function system_category_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*系统-菜单-编辑*/
function system_category_edit(title,url,id,w,h){
	layer_show(title,url,w,h);
}
/*系统-菜单-删除*/
function system_category_del(w){
	var data = {
		'id':w,
	}
	layer.confirm('确认要删除吗？',function(){
		$.ajax({
			type: 'POST',
			url: '{:url(\'Attributes/delete\')}',
			dataType: 'json',
			data:data,
			success: function(data){
		      if(data.code==1){
		        layer.msg(data.message,{icon:1,time:3000,btn:['确定']},function(){
		          location.reload()
		        })
		      }else{
		        layer.msg(data.message,{icon:2,time:3000,btn:['确定']})
		      }
		    },
		});
	});
}


</script>
{/block}