{extend name="common/base" /}
{block name='head'}
	<head>
		<meta charset="UTF-8">
		<title>找回密码</title>
		<link rel="stylesheet" type="text/css" href="__STATIC__/__INDEX__css/common.css" />
		<link rel="stylesheet" type="text/css" href="__STATIC__/__INDEX__css/register.css" />
		<script src="__STATIC__/__INDEX__js/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
		<script src="__STATIC__/__INDEX__js/jquery-migrate-1.2.1.js" type="text/javascript" charset="utf-8"></script>
		<script src="__STATIC__/__INDEX__js/common.js" type="text/javascript" charset="utf-8"></script>
	</head>

{/block}
{block name="content"}

		<!--第二部分-->
		<div class="content">
			<div class="cont_part">
				<span>重置密码</span>
				<form>
					<div>
						<label for="email"> 注册邮箱：</label>
						<input type="text" id="email" name="email" />
					</div>
					<div>
						<label for="yan"> 验证码：</label>
						<input type="text" id="yan" name="code" />
						<div onclick="getcode(this)" class="btn-info">获取验证码</div>
					</div>
					<div>
						<label for="paddword">密码：</label>
						<input type="password" id="paddword" name="password" />
					</div>
					<div>
						<label for="confirm">确认密码：</label>
						<input type="password" id="confirm" name="password2" />
					</div>
					<input type="button" onclick="register()" value="确认重置">
				</form>

			</div>
		</div>
{/block}
{block name="footer"}
		<script type="text/javascript" src="__STATIC__/__ADMIN__lib/layer/2.4/layer.js"></script>
		<script type="text/javascript">


			function register(){
					var data = {
						'email':$('[name="email"]').val(),
						'code':$('[name="code"]').val(),
						'password':$('[name="password"]').val(),
						'password2':$('[name="password2"]').val(),
					}
					$.ajax({
						url:'{:url(\'Login/retrieve_edit\')}',
						type:'post',
						data:data,
						dataType:'json',

						success:function(data){
							if(data.code==1){
								layer.msg(data.message,{icon:1,time:3000,btn:['确定']},function(){
									window.location.href=data.url
								})
							}else{
								layer.msg(data.message,{icon:2,time:1500})
							}
						}
					})
			}

var time=60;
			function getcode(obj){
				if($(obj).attr('class')=='btn-info'){
					var data = {
						'email':$('[name="email"]').val(),
					}

					$.ajax({
						url:'{:url(\'Login/email_code\')}',
						type:'post',
						data:data,
						dataType:'json',
						success:function(data){
							if(data.code==1){
								layer.msg(data.message,{icon:1,time:1500});
								var timer =  setInterval(function () {  
							            time--;  
							            $(obj).text(time+'秒之后重发');  
							            $(obj).removeClass('btn-info');  
							            $(obj).addClass('btn-success');  
							            $(obj).prop('disabled', true);  
							  
							            if(time==0){  
							                //清除定时器  
							                clearInterval(timer)  
							                $(obj).removeClass('btn-success');  
							                $(obj).addClass('btn-info');  
							                $(obj).prop('disabled', false);  
							  
							                $(obj).text('获取验证码');  
							                time=3;  
							  
							            }  
							        },1000);
							}else{
								layer.msg(data.message,{icon:2,time:1500})
							}
						}

					})
				}
			}

		</script>
{/block}