{extend name="common/base" /}
{block name="head"}
<link rel="stylesheet" href="__STATIC__/__ADMIN__lib/zTree/v3/css/zTreeStyle/zTreeStyle.css" type="text/css">
<title>产品分类</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 产品管理 <span class="c-gray en">&gt;</span> 产品分类 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<span style="color:red;">*点击分类名称可删除分类</span>
<table class="table">
	<tr>
		<td width="200" class="va-t"><ul id="treeDemo" class="ztree"></ul></td>
		<td class="va-t"><iframe ID="testIframe" Name="testIframe" FRAMEBORDER=0 SCROLLING=AUTO width=100%  height=390px SRC="{:url('Classifys/add')}"></iframe></td>
	</tr>
</table>
{/block}

{block name="footer"}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/__ADMIN__lib/zTree/v3/js/jquery.ztree.all-3.5.min.js"></script> 
<script type="text/javascript">

var zNodes ;
	$.ajax({
		url:'{:url(\'Classifys/classify_ajax\')}',
		type: 'get',
		dataType:'json',
		async:false,

		success:function(data){
			zNodes = data;
		}
	});

var setting = {
	view: {
		dblClickExpand: false,
		showLine: false,
		selectedMulti: false
	},
	data: {
		simpleData: {
			enable:true,
			idKey: "classify_id",
			pIdKey: "classify_pid",
			rootPId: ""
		}
	},
	callback: {
		beforeClick: function(treeId, treeNode) {
			layer.confirm('确认要删除吗？',function(){
				$.ajax({
					url:'{:url(\'Classifys/classify_delete\')}',
					type: 'get',
					data:{id:treeNode.classify_id},
					dataType:'json',
					async:false,

					success:function(data){
						if(data.code==1){
					        layer.msg(data.message,{icon:1,time:3000,btn:['确定']},function(){
					          location.reload()
					        })
					    }else{
					        layer.msg(data.message,{icon:2,time:3000,btn:['确定']})
					    }
					}
				})
			})
		}
	}
};


		
var code;
		
function showCode(str) {
	if (!code) code = $("#code");
	code.empty();
	code.append("<li>"+str+"</li>");
}
		
$(document).ready(function(){
	var t = $("#treeDemo");
	t = $.fn.zTree.init(t, setting, zNodes);
	demoIframe = $("#testIframe");
	//demoIframe.on("load", loadReady);
	var zTree = $.fn.zTree.getZTreeObj("tree");
	//zTree.selectNode(zTree.getNodeByParam("id",'11'));
});
</script>
{/block}