
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="data-spm" content="a1z08"/>
	<title>收货地址-淘宝网</title>
	<link href="//img.alicdn.com/favicon.ico" rel="icon" type="image/x-icon"/>
	<link href="//img.alicdn.com/favicon.ico" rel="shortcut icon" type="image/x-icon"/>

	<!-- S GLOBAL JS -->
<script src="//g.alicdn.com/??kissy/k/1.4.7/seed-min.js,tb/global/3.5.34/global-min.js"></script>
<!-- E GLOBAL JS -->
	<link rel="stylesheet" href="//g.alicdn.com/??kg/global-util/1.0.6/index-min.css,kg/tb-nav/2.4.1/index-min.css">
	<script src="//g.alicdn.com/??kissy/k/1.4.16/seed-min.js,kg/kmd-adapter/0.1.5/index.js,kg/kmd-adapter/0.1.5/util.js,kg/global-util/1.0.7/index-min.js,tb/tracker/4.0.1/p/index/index.js,kg/tb-nav/2.5.4/index-min.js"></script>
<script>KISSY.config({modules:{'flash':{alias:['gallery/flash/1.0/']}}});KISSY.use('kg/global-util/1.0.7/');KISSY.config({modules: {'kg/tb-nav':{alias:'kg/tb-nav/2.5.4/',requires:['kg/global-util/1.0.7/']}}});KISSY.ready(function(){KISSY.use('kg/tb-nav')});</script>
	<script>
				TB.Global.blacklist = ['fn-webww', 'fn-tlabs', 'fn-cart'];
	</script>
    <style>#privacySet {display: none}</style>
</head>
<body><script>
with(document)with(body)with(insertBefore(createElement("script"),firstChild))setAttribute("exparams","category=&userid=2448606538&aplus&yunid=&e40113e3784e8&trid=0be42f3e15283573999847896e5d3c&asid=AUrF8pEX4hhbMsYtWQAAAACJRNZDobiJeQ==",id="tb-beacon-aplus",src=(location>"https"?"//g":"//g")+".alicdn.com/alilog/mlog/aplus_v2.js")
</script>



<!--[if lt IE 8]>
<style>html,body{overflow:hidden;height:100%}</style>
<div class="tb-ie-updater-layer"></div>
<div class="tb-ie-updater-box" data-spm="20161112">
  <a href="https://www.google.cn/intl/zh-CN/chrome/browser/desktop/" class="tb-ie-updater-google" target="_blank" data-spm-click="gostr=/tbieupdate;locaid=d1;name=google">谷歌 Chrome</a>
  <a href="http://www.uc.cn/ucbrowser/download/" class="tb-ie-updater-uc" target="_blank" data-spm-click="gostr=/tbieupdate20161112;locaid=d2;name=uc">UC 浏览器</a>"
</div>
<![endif]-->
	<!-- start ems/mytaobao/header -->
<link rel="stylesheet" href="//g.alicdn.com/tb/mtbframe/2.0.2/pages/home/base.css">
<script type="text/javascript" src="//g.alicdn.com/tb/mtbframe/2.0.4/components/common/base.js"></script>
<!--
<link rel="stylesheet" href="//g.alicdn.com/tb/mytaobao/5.0.8/pages/home/base.css">
<script type="text/javascript" src="//g.alicdn.com/tb/mytaobao/5.1.1/components/common/base.js"></script>
-->

<!-- end ems/mytaobao/header -->
	<div id="content" style="position: relative; overflow: hidden;">
		<div class="col-main">
	<div class="main-wrap" style="z-index: 4;">
		<h2 class="h2-single"><span class="entity">收货地址</span></h2>
						<link href="//assets.alicdn.com/s/kissy/1.3.0/css/dpl/base-min.css" rel="stylesheet">
<link href="//g.alicdn.com//vip/mbis/0.4.26/address/css/address.css?t=20150910" rel="stylesheet"/>
<div class="global-msg msg  hide  " id="J_MsgGlobal">
	<i></i>
	<div class="msg-cnt">${error_msg}</div>
</div>
<div class="form-box" id="J_FormBox">
	<div id="mapContainer"></div>
	
			<div class="item item-title ">
			<span class="item-label tsl" data-phase-id="d_p_addNewDeliverAddress" id="J_DeliverTitle">新增收货地址　</span><span class="tsl" data-phase-id="d_p_addNewDeliverAddressNotice">电话号码、手机号选填一项, 其余均为必填项</span>
		</div>
		<form id="J_FormDeliver" action="{:url('')}" method="post">
		<input type="hidden" name="action" value="DeliverAddressMgr"/>
		<input type="hidden" name="event_submit_do_save" value="anything"/>
			<input type="hidden" name="from" value="mbis"/>
		<input type="hidden" name="isFrame" value="false"/>
		<input type="hidden" name="token" value=""/>
		<input type="hidden" name ="lang" value="zh-S" id="J_lang"> 
		<input name='_tb_token_' type='hidden' value='e40113e3784e8'>
		<input type="hidden" name="id" id="J_iId" value=""/>
			<input type="hidden" name="x" id="J_lat" value=""/>
			<input type="hidden" name="y" id="J_lng" value=""/>
		<input type="hidden" name="reurl" value=""/>

		<div class="item item-devision" id="J_ItemDivision">
			<span class="item-label tsl" data-phase-id="d_p_location">所在地区 <i>*</i></span>

			<div id="J_CitySelect" class="ks-clear clearfix">
				<input type="hidden" name="country" class="J_iCountry" value=""/>
				<input type="hidden" name="prov" class="J_iProv" value=""/>
				<input type="hidden" name="provExt" class="J_iProvExt" value=""/>
				<input type="hidden" name="city" class="J_iCity" value=""/>
				<input type="hidden" name="area" class="J_iArea" value=""/>
				<input type="hidden" name="town" class="J_iTown" value=""/>
				<select class="J_Country" aria-label="请选择">
					<option class="tsl" data-phase-id="d_p_chooseStation" value="">请选择</option>
					<option class="tsl" data-phase-id="d_p_chinaInland" value="0"  selected >中国大陆</option>
									</select>
										</div>
			<div class="msg-box">
				<div class="msg msg-error  hide  " id="J_MsgDivision">
					<i></i>

					<div class="msg-cnt tsl" data-phase-id="d_p_mapRecomend">
											</div>
				</div>
			</div>
			<div class="msg-box">
				<div class="msg msg-attension hide" id="J_MsgSuggestion">
					<i></i>

					<div class="msg-cnt"></div>
				</div>
			</div>
		</div>
		<div class="item item-street" id="J_ItemStreet">
			<span class="item-label tsl" data-phase-id="d_p_addressDetail">详细地址 <i>*</i></span>

			<div class="ks-combobox" id="J_ComboboxStreet" aria-pressed="false">
				<div class="ks-combobox-input-wrap">
					<textarea class="ks-combobox-input i-ta disabled tsl" aria-combobox="list" role="combobox" autocomplete="off" name="addressDetail" id="J_Street" aria-label="详细地址"
					          placeholder="建议您如实填写详细收货地址，例如街道名称，门牌号码，楼层和房间号等信息" data-inner_placeholder="d_p_input_inner_detailAddress" data-pattern="^[\s\S]{5,120}$" data-msg="d_p_detailAddress_msg"
					          data-ph="建议您如实填写详细收货地址，例如街道名称，门牌号码，楼层和房间号等信息" disabled="disabled"></textarea>
				</div>
			</div>
			<div class="msg-box">
				<div class="msg msg-error hide" id="J_MsgStreet">
					<i></i>

					<div class="msg-cnt"></div>
				</div>
			</div>
		</div>
		<div class="item item-name" id="J_ItemName">
			<span class="item-label tsl" data-phase-id="d_p_receiverName">收货人姓名 <i>*</i></span>
			<div class="item-warp">
			<input name="fullName" class="i-text tsl" aria-label="收货人姓名" type="text" id="J_Name" placeholder="长度不超过20个字符" data-inner_placeholder="d_p_input_inner_fullName" data-pattern="^.{2,25}$" data-msg="d_p_fullName_msg"
			       data-ph="长度不超过25个字符"
			       value="">
			</div>
			
			<div class="msg hide" id="J_MsgName">
				<i></i>

				<div class="msg-cnt"></div>
			</div>
		</div>
		<div class="item item-mobile" id="J_ItemMobile">
			<span class="item-label tsl" data-phase-id="d_p_mobileNumber">手机号码 </span>
			
			<div class="item-warp">
			<input name="mobile" class="i-text tsl" aria-label="手机号码" type="text" id="J_Mobile" placeholder="必填" autocomplete="off" data-inner_placeholder="d_p_input_inner_mobile" data-pattern="^\d{6,20}$"
			       data-msg="d_p_mobile_msg" value="">
			</div>

			
		</div>
		<div class="item item-phone" id="J_ItemPhone">
			
			
			<div class="msg hide" id="J_MsgPhone">
				<i></i>

				<div class="msg-cnt"></div>
			</div>
		</div>
		<div class="item">
			<button type="submit" class=" btn  tsl" data-phase-id="d_p_saveSubmit" onclick="address()">保存</button>
			<div class="msg hide" id="J_MsgSubmit">
				<i></i>
				<div class="msg-cnt"></div>
			</div>
		</div>
	</form>
</div>

<script type="text/javascript">
	window.CONFIG = {
		_tb_token_: "e40113e3784e8",
		api: "//member1.taobao.com/member/fresh/deliver_address_editor_save_submit.do?_input_charset=UTF-8"
					,
			map: {
				mapSize: {
					width: 300,
					height: 300
				}
			}
				,
		isInGrayTest: false
	};

	window.CONSTANT = {
		"ERROR_FORBIDDEN_WORD": "您的输入包含非法字符，请重新输入",
		"ERROR_HAS_NO_DIVISION_CODE_ERR": "该收货地址信息不完整，请删除后重新输入",
		"ERROR_ENCODING_INPUT": "您的输入字符编码错误，请重新输入",
		"ERROR_ILLEGAL_PARAM": "错误的参数",
		"ERROR_MAX_DELIVER_ADDR_NUMBER": "您的收货地址数已经达到最大允许的数量",
		"ERROR_ILLEGAL_PARAM_ADDRESS": "<font color='red'>详细地址</font>最少5个字，最多不能超过120个字",
		"ERROR_DELIVER_ADDRESS_REQUIRE_MOBILE_OR_PHONE": "手机号码和电话号码至少需要一个",
		"ERROR_ILLEGAL_FULLNAME": "<font color='red'>收货人姓名</font>不能少于2个字，不能超过25个字",
		"ERROR_ILLEGAL_PARAM_MOBILEPHONE": "<font color='red'>手机号码</font>格式不正确",
		"ERROR_ILLEGAL_POSTCODE": "收货地址需要6位的<font color='red'>邮政编码</font>",
		"ERROR_ILLEGAL_PHONESECTION": "<font color='red'>电话区号</font>必须由3到6个数字组成",
		"ERROR_ILLEGAL_PHONECODE": "<font color='red'>电话号码</font>必须由5到10个数字组成",
		"ERROR_ILLEGAL_PHONEEXT": "<font color='red'>电话分机</font>必须少于6个数字"
	};
</script>
<script type="text/javascript">

TRLang = {
	"d_p_detailAddress_msg":"5-120个字符，一个汉字为两个字符",
	"d_p_postCode_msg":"请输入邮编",
	"d_p_fullName_msg":"收货人姓名应为2-25个字符，一个汉字为两个字符",
	"d_p_mobile_msg":"6-20个数字",
	"d_p_wrongFormat":"区号或电话号码格式不正确",
	"d_p_pleaseChooseCountry":"请选择国家或地区",
	"d_p_pleaseChooseCity":"请选择城市",
	"d_p_pleaseChoosedetail":"请选择详细的行政区划",
	"d_p_pleaseChooseProv_city_street":"请选择省市区",
	"d_p_completeTown":"请补充乡镇街道地址",
	"d_p_chooseProv":"省份",
	"d_p_chooseCity":"城市",
	"d_p_chooseTown":"县区",
	"d_p_chooseStreet":"街道",
	"d_p_fillDetailFirst":"先填详细地址，稍后再获取街道地址",
	"d_p_fillLater":"稍后再说",
	"d_p_virtralAddress":"如您无法找到原地址所属的区域，可能该区已被合并或属于虚拟&#10;行政区（地方经济开发区，非国家三级行政区），请根&#10;据提示选择正确的区县",
	"d_p_others":"其他",
	"d_p_state":"州",
	"d_p_city":"市",
	"d_p_pleaseChoose":"请选择",

		"d_p_location_haiwai":"国家 <i>*</i>",
	"d_p_address_haiwai":"详细地址 <i>*</i>",
	"d_p_city_haiwai":"城市 <i>*</i>",
	"d_p_regin_haiwai":"地区 <i>*</i>",
	"d_p_postCode_haiwai":"邮政编码",
	"d_p_receiverName_haiwai":"姓名 <i>*</i>",
	"d_p_phone_haiwai":"手机 <i>*</i>",
	"d_p_input_inner_postCode_haiwai":"请正确填写邮编 (Zip Code)",
	"d_p_input_inner_fullName_haiwai":"长度不超过25个字符",
	"d_p_input_inner_mobile_haiwai":"手机号码必须填一项6-20个数字",
	"d_p_add_haiwai":"新增国际地址",
	"d_p_default_haiwai":"设置默认地址",
    "d_p_save_haiwai":"保存"
};

</script>


<script src="//webapi.amap.com/maps?v=1.3&key=4e84b3fa70fbdc218a1f944fafc129e7" language="javascript"></script>
<script src="//g.alicdn.com//vip/address/6.1.0/index-min.js" charset="UTF-8"></script>
<script src="//g.alicdn.com//vip/mbis/0.4.26/address/js/??taobao.js,address.js,index.js?t=20150910"></script>

<script type="text/javascript">

</script>
		



			<!-- 注释不能删,解决ie6下面的一个bug -->
			</div>
		<div class="feedback J_Feedback" style="margin-top: -24px;"><span><a href="//survey.taobao.com/survey/4gyytUUDx" target="_blank" data-spm-anchor-id="a210c.1.0.0">意见反馈</a><s></s></span></div>
	</div>
</body>
</html>