{extend name="common/base" /}

{block name="head"}
	<head>
		<meta charset="UTF-8">
		<title>地址</title>
		<link rel="stylesheet" type="text/css" href="__STATIC__/__INDEX__css/common.css" />
		<link rel="stylesheet" type="text/css" href="__STATIC__/__INDEX__css/register.css" />
		<link rel="stylesheet" type="text/css" href="__STATIC__/__INDEX__css/address.css" />
		<script src="__STATIC__/__INDEX__js/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
		<script src="__STATIC__/__INDEX__js/jquery-migrate-1.2.1.js" type="text/javascript" charset="utf-8"></script>
		<script src="__STATIC__/__INDEX__js/common.js" type="text/javascript" charset="utf-8"></script>
	</head>
{/block}

{block name="content"}
		<div class="content">
			<div>
		{include file="users/left_base"}

				<!--右面上半部分-->
				<div class="cont_right_top address">
									
					<h4>添加地址</h4>
					
					<div class="cont_part">
					<form>

						<div>
							<label style="width:100px">收货人姓名：</label>
							<input type="text" name="name" placeholder="请填写收货人姓名" style="width:450px" />
						</div>
						<div>
							<label style="width:100px">地区：</label>
							<input type="text" name="region" placeholder="请填写省、市、区、县" style="width:450px" />
						</div>
						<div>
							<label style="width:100px">详细地址：</label>
							<input type="text" name="address" placeholder="请填写详细收货地址，例如街道名称，门牌号码等信息" style="width:450px" />
						</div>
						<div>
							<label style="width:100px">收货人手机：</label>
							<input type="text" name="phone" placeholder="请填写收货人手机号码" style="width:450px" />
						</div>
						<input type="button" onclick="addressadd()" value="添加地址">
					</form>

					</div>
				
				</div>
			</div>
		</div>
{/block}

{block name="footer"}
		<script type="text/javascript" src="__STATIC__/__ADMIN__lib/layer/2.4/layer.js"></script>
		<script src="__STATIC__/__INDEX__js/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
		<script src="__STATIC__/__INDEX__js/jquery-migrate-1.2.1.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(".cel").click(function() {

				if(confirm("亲，您确定删除这个地址吗?")) {
					$(this).parents("tr").remove();
				}

			})
			var txt = document.getElementById("txt");
			txt.onkeydown = function(ev) {
				var n = ev.keyCode;
				if(n < 48 || n > 57) {
					return false;
				}
			}

			function addressadd(){
				var data = {
					'name':$('[name="name"]').val(),
					'region':$('[name="region"]').val(),
					'address':$('[name="address"]').val(),
					'phone':$('[name="phone"]').val()
				}

				$.ajax({
					url:'{:url(\'Users/a_add\')}',
					type:'post',
					data:data,
					dataType:'json',

					success:function(data){
						if(data.code==1){
							layer.msg(data.message,{icon:1,time:1500},function(){
								window.location.href=data.url;
							})
						}else{
							layer.msg(data.message,{icon:2,time:1500})
						}
					}
				})
			}

		</script>
{/block}