			

				<!--主要内容的小导航-->
				<p>
					<a href="{:url('Index/index')}">麦斯威尔</a> >
					<a href="#">会员中心</a>
				</p>
				<!--个人中心-->
				<ul class="personal">
					<li>
						<h3>个人中心</h3>
						<ul>
							<li>
								<a href="{:url('Users/index')}">我的用户中心</a>
							</li>
							<li>
								<a href="{:url('Proess/sp_base')}?proess=4">我的购物车</a>
							</li>
							<li>
								<a href="{:url('Users/order')}">我的订单</a>
							</li>
						</ul>
					</li>
					<li>
						<h3>我的账户</h3>
						<ul>
							<li>
								<a href="{:url('Users/address')}">地址管理</a>
							</li>
							<li>
								<a href="{:url('Login/retrieve')}">修改密码</a>
							</li>
						</ul>
					</li>
				</ul>

